{% extends '@NAO/layout.html.twig' %}
{% block title %}
    Mon profil - NAO
{% endblock %}

{% block body %}
<!-- PROFILE SECTION -->
<section id="my-profile">
    <div class="container py-5 bg-green px-md-5">
        <div class="row">
            <div class="col-4 d-none d-md-block">
                <img src="img/profile.jpg" alt="" style="width:120px;" class="m-4">
                <ul class="nav flex-column side-menu">
                    <li class="nav-item">
                        <a href="mes-observations.html" class="nav-link d-flex justify-content-between">
                            <p class="p-1 m-0">Mes observations</p>
                            <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mes-favoris.html" class="nav-link d-flex justify-content-between">
                            <p class="p-1 m-0">Mes favoris</p>
                            <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mon-profil.html" class="nav-link d-flex justify-content-between">
                            <p class="p-1 m-0">Modifier mon profil</p>
                            <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="mes-badges.html" class="nav-link d-flex justify-content-between">
                            <p class="p-1 m-0">Mes badges</p>
                            <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                        </a>
                    </li>
                    {% if is_granted('ROLE_PRO') %}
                        <li class="nav-item">
                            <a href="gestion-observation.html" class="nav-link d-flex justify-content-between active">
                                <p class="p-1 m-0">Gestion des observations</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="article.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Ecrire un article du blog</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="gestion-article.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Gestion des articles du blog</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a href="gestion-membre.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Gestion des utilisateurs</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex justify-content-between">
                            <p class="p-1 m-0">Déconnexion</p>
                            <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}