{% extends '@NAO/layout.html.twig' %}
{% block title %}
    Gestion observations - NAO
{% endblock %}

{% block body %}
    <!-- Observations SECTION -->
    <section id="my-observations">
        <div class="container py-5 bg-green px-md-5">
            <div class="row">
                {% include 'UserBundle:Default:side_menu_top.html.twig' %}
                <div class="col-12 col-md-8 text-white mt-md-5 pt-md-5 pb-md-4">
                    <div class="col-12 d-md-none pb-4">
                        <h1>Gestion des observations</h1>
                    </div>
                    {% if observations is empty %}
                        <div class="row row-separate py-3">
                            <p class="col-12">Il n'y a encore aucune observation enregistrée.</p>
                        </div>
                    {% else %}
                        {% for observation in observations %}
                            <div class="row row-separate py-3">
                                <div class="col-2">{{ observation.date|date("d m/Y") }}</div>
                                <div class="col-4">{{ observation.place }}</div>
                                <div class="col-4">{{ observation.title }}</div>
                                <div class="col-1"><a href="#" title="Voir observation"><i
                                                class="fa fa-angle-double-right"></i></a></div>
                                <div class="col-5">{{ observation.mainStatus.name }}</div>
                                {% if observation.mainStatus.name != 'Publié' %}
                                    <div class="col-3"><a href="#" title="Voir observation">Modifier</a></div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}