{# src/NAOBundle/ressources/views/Default/footer.html.twig #}

<footer id="footer-section">
    <div class="container text-center py-3">
        <div class="row align-items-center justify-content-center">
            <a class="nav-link" href="#" id="mentions_legales" title="
            Nos Amis les Oiseaux
            4 rue XXX
            0603597826
            nao@contact.fr
            Directeur/trice de publication : [nom prénom]
            Hébergeur : OVH.fr">Mentions légales
            </a>
            <a class="nav-link" href="{{ path('nao_contact') }}">Contact</a>
            <a class="nav-link d-none d-md-inline" href="{{ path('nao_index') }}"><img src="{{ asset('img/mini-logo.png') }}" class="logo-link" alt=""></a>
            <p class="footer-exp">Suivez-nous</p>
            <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
            <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
            <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
            <a class="nav-link" href="#"><i class="fa fa-google-plus"></i></a>
        </div>
    </div>
</footer>