<!-- JE VEUX PARTICIPER SECTION -->
<section id="vouloir-accueil-section">
    <div class="container">
        <div class="row">
            <img src="{{ asset('img/accueil-bottom-high.png') }}" alt="" class="card-img">
        </div>
    </div>
    <div class="bg-green">
        <div class="container">
            <div class="row">
                <div class="col px-0">
                    <div class="card border-0">
                        <img src="{{ asset('img/accueil-bottom-low.png') }}" alt="" class="card-img">
                        <div class="card-img-overlay text-center">
                            <a href="{{ path('nao_participate') }}">
                                <h2>Je veux participer !</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>