{# src/NAOBundle/ressources/views/participate/participate.html.twig #}

{% extends "NAOBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Participer {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <img src="{{ asset('img/workinprogressdog.jpg') }}">
        </div>
    </div>

{% endblock %}