{% extends 'NAOBundle::layout.html.twig' %}
{% block title %}
    Mon profil - NAO
{% endblock %}

{% block body %}
    <!-- PROFILE SECTION -->
    <section id="my-profile">
        <div class="container py-5 bg-green px-md-5">
            <div class="row">
                <div class="col-4 d-none d-md-block">
                    <img src="img/profile.jpg" alt="" style="width:120px;" class="m-4">
                    <ul class="nav flex-column side-menu">
                        <li class="nav-item">
                            <a href="mes-observations.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Mes observations</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mes-favoris.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Mes favoris</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mon-profil.html" class="nav-link d-flex justify-content-between active">
                                <p class="p-1 m-0">Modifier mon profil</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mes-badges.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Mes badges</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                        {% if is_granted('ROLE_PRO') %}
                        <li class="nav-item">
                            <a href="gestion-observation.html" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Gestion des observations</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                            <li class="nav-item">
                                <a href="article.html" class="nav-link d-flex justify-content-between">
                                    <p class="p-1 m-0">Ecrire un article du blog</p>
                                    <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="gestion-article.html" class="nav-link d-flex justify-content-between">
                                    <p class="p-1 m-0">Gestion des articles du blog</p>
                                    <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="gestion-membre.html" class="nav-link d-flex justify-content-between">
                                    <p class="p-1 m-0">Gestion des utilisateurs</p>
                                    <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" class="nav-link d-flex justify-content-between">
                                <p class="p-1 m-0">Déconnexion</p>
                                <p class="p-1 m-0"><i class="fa fa-angle-right"></i></p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-8 text-white pl-md-4">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-4">
                            <div class="card mb-3 text-right">
                                <img src="img/profile.jpg" alt="" class="card-img">
                                <div class="card-img-overlay">
                                    <a href="change-image.html" class="btn btn-success" title="Changer mon image"><i
                                                class="fa fa-picture-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="profil_form">
                        <div class="form-group row">
                            <label for="email" class="col-12 col-md-4 col-form-label">E-mail</label>
                            <div class="col-12 col-md-8">
                                <input type="text" id="email" class="form-control" value="my.email@gmail.fr">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mdp1" class="col-12 col-md-4 col-form-label">Nouveau mot de passe</label>
                            <div class="col-12 col-md-8">
                                <input type="password" id="mdp1" class="form-control" value="mamampapa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mdp2" class="col-12 col-md-4 col-form-label">Confirmer mot de passe</label>
                            <div class="col-12 col-md-8">
                                <input type="password" id="mdp2" class="form-control" value="mamampapa">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ville" class="col-12 col-md-4 col-form-label">Ville</label>
                            <div class="col-12 col-md-8">
                                <input type="text" id="ville" class="form-control" value="Sanary sur Mer">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telephone" class="col-12 col-md-4 col-form-label">Téléphone</label>
                            <div class="col-12 col-md-8">
                                <input type="text" id="telephone" class="form-control" value="04 91 12 12 12">
                            </div>
                        </div>
                        <div class="row justify-content-center py-2 py-md-5">
                            <div class="col-12 col-md-4">
                                <a href="#" class="btn btn-success btn-block">Valider</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}