{% extends '@NAO/layout.html.twig' %}
{% block title %}
    Rédaction article - NAO
{% endblock %}

{% block body %}
    <!-- Observations SECTION -->
    <section id="my-observations">
        <div class="container py-5 bg-green px-md-5">
            <div class="row">
                {% include 'UserBundle:Default:side_menu_top.html.twig' %}
                <div class="col-12 col-md-8 text-white mt-md-5 pt-md-5 pb-md-4">
                    <div class="col-12 d-md-none pb-4">
                        <h1>Saisir un article</h1>
                    </div>
                    <img src="{{ asset('img/workinprogressdog.jpg') }}" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
{% endblock %}